:root.theme-dark {
  --padding: clamp(10px, calc(10px + 10 * ((100vw - 375px) / 393)), 20px);
  --cover-image: url("../images/cover-image-dark.png");
  --color-page: #000028;
  --color-title: #db00ff;
  --color-highlight: #ff0070;
  --color-button: #ff0070;
  --color-decor-element: #ff0070;
  --color-hover-border: rgba(255, 0, 112, 0.4);
  --color-question: #ff0070;
  --color-content__title: #000028;
  --color-text: #f1b2ce;
}

.theme-dark .rec-indicator {
  position: absolute;
  top: var(--padding);
  right: clamp(19px, calc(19px + 10 * ((100vw - 375px) / 393)), 29px);
  padding-right: 18px;
  color: var(--color-highlight);
  line-height: 25px;
}

.theme-dark .rec-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--color-highlight);
  box-shadow: 0 0 4px 2px var(--color-highlight);
}
