:root.theme-light {
  --cover-image: url("../images/cover-image-light.png");
  --color-page: #fff1f7;
  --color-title: #ffc2e6;
  --color-highlight: #ff8dcb;
  --color-button: #353430;
  --color-decor-element: #353430;
  --color-hover-border: rgba(53, 52, 48, 0.4);
  --color-question: #353430;
  --color-content__title: #353430;
  --color-text: #353430;
}

.theme-light .rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    --cover-image: url("../images/cover-image-light.png");
    --color-page: #fff1f7;
    --color-title: #ffc2e6;
    --color-highlight: #ff8dcb;
    --color-button: #353430;
    --color-decor-element: #353430;
    --color-hover-border: rgba(53, 52, 48, 0.4);
    --color-question: #353430;
    --color-content__title: #353430;
    --color-text: #353430;
  }

  .theme-auto .rec-indicator {
    display: none;
  }
}
