:root {
  --padding: clamp(10px, calc(10px + 10 * ((100vw - 375px) / 393)), 20px);
  --cover-image: url("../images/cover-image-dark.png");
  --color-page: #000028;
  --color-title: #db00ff;
  --color-highlight: #ff0070;
  --color-button: #ff0070;
  --color-decor-element: #ff0070;
  --color-hover-border: rgba(255, 0, 112, 0.4);
  --color-question: #ff0070;
  --color-content__title: #000028;
  --color-text: #f1b2ce;
}
